# Data Science Tools and Ecosystem

**Objectives:**
- To know the popular languages that Data Scientists use
- To understand the commonly used libraries by Data Scientists
- To know the tools used by Data Scientists
- To understand how to create tables in Jupyter Notebooks
- To evaluate arithmetic expressions in Python

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. C/C++
5. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy 
3. Matplotlib
4. TensorFlow
5. Pytorch

| Data Science Tools|
|:--------:|
| Jupyter |
| Apache Zeppelin |
| R studio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This is a simple arithmetic expression to multiply then add integers
(3*4) + 5

17

In [7]:
#This will convert 200 minutes to hours by dividing by 60 

def convert_hours(min):
    hours = min/60 
    return hours

min = 200
print("The answer is", convert_hours(min), 'hrs')

The answer is 3.3333333333333335 hrs

## Author
JA.R